@tailwind base;
@tailwind components;

body {
  @apply antialiased;
}

/* .font-soft {
  font-family: 'Signika Negative', sans-serif;
} */

body {
  padding: 0px;
  margin: 0px;
}

/* .font-soft {
  font-family: Signika Negative;
} */

.wrapper {
  display: contents;
}

.loading {
  display: flex;
  justify-content: center;
}
.loading div {
  animation: 0.9s bounce infinite alternate;
}
.loading div:nth-child(2) {
  animation-delay: 0.3s;
}

.loading div:nth-child(3) {
  animation-delay: 0.6s;
}

.loading div {
  @apply w-2 h-2 bg-white my-5 mx-1 rounded-full;
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -0.25rem, 0);
  }
}

.text-link {
  @apply mt-3 border-b-2 border-teal-500 font-semibold text-gray-900;
}

.button {
  @apply rounded flex-grow-0 h-10 px-4 overflow-hidden bg-red-500 font-semibold text-white text-sm uppercase tracking-wide;
}

.button:focus {
  @apply outline-none;
}

.button:hover {
  @apply bg-red-600;
}

.button-disabled {
  @apply button bg-gray-400 cursor-not-allowed;
}

.faq a {
  @apply font-medium border-b-2 border-red-400;
}

.columns {
  -moz-column-count: 2;
  -moz-column-gap: 4%;
  -moz-column-width: 50%;
  -webkit-column-count: 2;
  -webkit-column-gap: 4%;
  -webkit-column-width: 50%;
  column-count: 2;
  column-gap: 4%;
  column-width: 50%;
}
.columns > div {
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .columns {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@tailwind utilities;
